@model FilmLister.WebUI.Models.FilmListTemplate[]

@{
    ViewData["Title"] = "Film Lister - Film Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Choose a Film List</h1>
<div class="row">
    <div class="col-md">
    <h4>Featured Lists:</h4>
    @foreach (var filmList in Model)
    {
        <div>
            <a asp-controller="FilmList" asp-action="Create" asp-route-listId="@filmList.Id">@filmList.Name (@filmList.Films.Length films)</a> |
            <a asp-controller="FilmListTemplate" asp-action="Clone" asp-route-filmListTemplateId="@filmList.Id">Clone this list</a>
        </div>
    }
    </div>
</div>
<div class="row">
    <div class="col-md">
        <hr />
        <a asp-controller="FilmListTemplate" asp-action="Index">Or create your own...</a>
    </div>
</div>
