@model FilmLister.WebUI.Models.FilmListTemplate[]

<h1>Create Film List</h1>
<div>
    <h4>Featured Lists:</h4>
    @foreach (var filmList in Model)
    {
        <div>
            <a asp-controller="FilmList" asp-action="Create" asp-route-listId="@filmList.Id">@filmList.Name</a>
        </div>
    }
</div>
