@{
    ViewData["Title"] = "Film Lister";
}

<div class="text-center">
    <h1 class="display-4">Film Lister</h1>
    <p>Mathematically determine your favourite film using the <a href="https://en.wikipedia.org/wiki/Quicksort">quick sort algorithm.</a></p>
    <p>Film choices are prompted one at a time until the algorithm has enough data to sort the entire list.</p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="FilmList" asp-action="Index"><h4>Choose a Film List</h4></a>
    </p>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="FilmListTemplate" asp-action="Create"><h4>Create a new Film List</h4></a>
    </p>
</div>
