
@{
    ViewData["Title"] = "Film Lister - Create a List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md">
        Create a new film list by writing a name for it and pressing Create a List.
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" action="/FilmListTemplate/Create">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input class="form-control" type="text" name="listName" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create a List" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
