@model FilmLister.WebUI.Models.FilmListTemplate

@{
    ViewData["Title"] = "Film Lister - Add to a List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a Film List</h1>

<div class="row">
    <div class="col-md">
        Create a film list be searching titles and pressing Add. You can add a many films as you'd like.
    </div>
</div>
<div class="row">
    <div class="col-3">
        <img id="selectedFilmImg" class="img-fluid" />
    </div>
    <div class="col-md-4">
        <form id="filmForm" method="post" action="/FilmListTemplate/AddFilm">
            <input type="hidden" name="filmListTemplateId" value="@Model.Id" />
            <div class="form-group">
                <input id="tmdbId" class="form-control" type="hidden" name="tmdbId" />
            </div>
            <div class="form-group">
                <h4>Search by film name:</h4>
                <label class="control-label">Film Name</label>
                <input id="filmSearch" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <h4>Search by person, such as actor or director:</h4>
                <label class="control-label">Person Name</label>
                <input id="personSearch" class="form-control" type="text" />
            </div>
            <div class="form-group">
                <input id="submitButton" type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div class="row">
    @foreach (var film in Model.Films)
    {
        <div class="col-4 col-md-2">
            <figure>
                <img class="img-fluid" src="@film.ImageUrl" />
                <figcaption>
                    @film.DisplayName
                </figcaption>
            </figure>
        </div>
    }
</div>
<div class="row">
    <div class="col-md">
        <a asp-controller="FilmList" asp-action="Create" asp-route-listId="@Model.Id">Sort the list by popularity</a>
    </div>
</div>

